/*Boostrap Overrides*/

@font-face {
  font-family: "Nitti";
  src: url("fonts/nitti-normal.woff");
}

@font-face {
  font-family: "Nitti Grotesk";
  src: url("fonts/nittigrotesk-normal.woff");
}

@font-face {
  font-family: "Nitti Grotesk";
  font-weight: bold;
  src: url("fonts/nittigrotesk-medium.woff");
}

.ivy-plugin body {
  color: #20252d;
  font-family: Nitti Grotesk, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.ivy-plugin h1,
.ivy-plugin h2,
.ivy-plugin h3,
.ivy-plugin h4,
.ivy-plugin h5 {
  color: #20252d;
}

.ivy-plugin small,
.ivy-plugin .small {
  font-size: 90%;
  font-weight: bold;
  color: #20252d;
}

.ivy-plugin .navbar {
  background: #20252d;
  border: 0;
  margin-bottom: 30px;
  font-size: 100%;
  font-weight: 700;
}

.ivy-plugin .glyphicon-question-sign {
  color: #777;
  font-size: 11px;
}

.ivy-plugin .navbar-brand {
  padding: 10px 0 0 15px;
}

.ivy-plugin .page-footer {
  color: #bfbfbf;
}

.ivy-plugin .dropdown-menu {
  font-size: 16px;
}

.ivy-plugin .container {
  max-width: 1200px;
}

.ivy-plugin tr:last-of-type td {
  padding-bottom: 0 !important;
}

.ivy-plugin .table > thead > tr > th {
  border: none;
}

.ivy-plugin .table {
  font-size: 16px;
  margin-bottom: 0;
}

.ivy-plugin .table > tbody > tr > td {
  line-height: 34px;
  padding: 20px 8px;
  color: #747c89;
}

.ivy-plugin .panel-default {
  margin-bottom: 30px;
  border-radius: 2px;
}

.ivy-plugin .panel-default > .panel-heading {
  background-image: none !important;
  color: #20252d;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.ivy-plugin .panel-heading-btns {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ivy-plugin .panel-heading-btns li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ivy-plugin .panel-heading-btns .dropdown-menu li {
  display: block;
}

.ivy-plugin .panel-heading-btns li a {
  display: block;
}

.ivy-plugin .panel-title {
  line-height: 34px;
  color: #20252d;
  font-size: 18px;
  font-weight: bold;
  background: #f5f5f8;
}

.ivy-plugin .panel-body {
  padding: 25px;
}

.ivy-plugin .panel-body.inner {
  padding-top: 5px;
}

.ivy-plugin .panel-body.inner h1 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.ivy-plugin .radio {
  margin-top: 5px;
  margin-bottom: 15px;
}

.ivy-plugin .radio label {
  line-height: 24px;
  color: #747c89;
}

.ivy-plugin .form {
  margin-bottom: 0;
}

.ivy-plugin .form-control {
  max-width: 300px;
  font-size: 16px;
}

.ivy-plugin .form-control.string-input {
  max-width: 100%;
}

.ivy-plugin .form-control.value-input {
  max-width: 100%;
}

.ivy-plugin .form-inline input {
  margin-right: 10px;
}

.ivy-plugin .form-control,
.ivy-plugin .input-group-addon {
  border-radius: 2px;
  font-size: 16px;
}

.ivy-plugin .input-group select.with-addon {
  -webkit-appearance: none;
  -webkit-border-left-radius: 0px !important;
  width: 200px;
}

.ivy-plugin input[type="datetime"] {
  width: 300px;
}

.ivy-plugin input[type="text"]:disabled {
  background: #f5f5f5;
  box-shadow: none;
  width: 200px;
}

.ivy-plugin select {
  -webkit-appearance: none;
  -webkit-border-left-radius: 0px !important;
  min-width: 200px;
  background: url("./images/select-arrow.png") no-repeat !important;
  background-size: 10px !important;
  background-position: calc(100% - 10px) center !important;
  cursor: pointer;
  -webkit-padding-end: 30px !important;
}

.ivy-plugin select:hover {
  background-color: #fafafa !important;
}

.ivy-plugin .input-group {
  margin-bottom: 20px;
}

.ivy-plugin .input-group-addon {
  min-width: 100px;
  text-align: left;
  background: #f5f5f8;
}

.ivy-plugin .btn {
  border-radius: 2px;
  font-size: 16px;
  padding: 5px 12px;
  min-width: 75px;
}

.ivy-plugin .btn-lg {
  font-size: 20px;
  padding: 8px 16px;
}

.ivy-plugin .btn-primary {
  background: #00bfaa;
  border-color: #00bfaa;
  text-shadow: none;
  box-shadow: none;
}

.ivy-plugin .btn-primary.btn-wide {
  min-width: 100px;
}

.ivy-plugin .btn-primary:hover,
.ivy-plugin .btn-primary:active,
.ivy-plugin .btn-primary:focus,
.ivy-plugin .btn-primary.active,
.ivy-plugin .btn-primary:active,
.ivy-plugin .open > .dropdown-toggle.btn-primary {
  background: #00bfaa !important;
  border-color: #00bfaa !important;
  opacity: 0.8;
  outline: none !important;
}

.ivy-plugin .btn-primary:disabled,
.ivy-plugin .btn-primary:disabled:hover {
  background: #cccccc !important;
  border-color: #cccccc !important;
  color: #808080;
  opacity: 0.65;
}

.ivy-plugin .dropdown .btn {
  margin-right: 10px;
}

.ivy-plugin .btn .glyphicon {
  top: 3px;
  padding-right: 5px;
}

.ivy-plugin .alert {
  border-radius: 2px;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.ivy-plugin .alert .glyphicon {
  top: 3px;
}

.ivy-plugin .alert-warning {
  background: #fff6e8;
  box-shadow: none;
  border-color: #faebcc;
}

.ivy-plugin .alert-danger {
  border-color: #ebccd1;
}

.ivy-plugin .alert a {
  text-decoration: underline;
}

.ivy-plugin .alert a:hover {
  text-decoration: none;
  opacity: 0.9;
}

.ivy-plugin pre {
  background: #f5f5f8;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 0;
  font-family: Nitti, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ivy-plugin pre.wrap {
  white-space: pre-wrap;
  word-break: keep-all;
  line-height: 24px;
}

.ivy-plugin code {
  color: #999999;
  background-color: transparent;
  border: 1px solid #ececec;
  padding: 5px 7px;
  font-family: Nitti, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ivy-plugin .table-placeholder {
  padding: 40px;
  text-align: center;
  color: #bfbfbf;
  font-size: 18px;
  font-weight: bold;
}

.ivy-plugin .contracts-table th {
  width: 25%;
  text-transform: uppercase;
  font-size: 14px;
}

.ivy-plugin .contracts-table tbody a {
  color: #00bfaa;
}

/*Styles*/

.ivy-plugin .navbar-brand img {
  height: 30px;
}

.ivy-plugin .navbar .divider-vertical {
  height: 20px;
  margin: 15px 9px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.ivy-plugin .navbar-inverse .navbar-nav > .active > a,
.ivy-plugin .navbar-inverse .navbar-nav > .active > a:focus,
.ivy-plugin .navbar-inverse .navbar-nav > .active > a:hover,
.ivy-plugin .navbar-inverse .navbar-nav > .open > a,
.ivy-plugin .navbar-inverse .navbar-nav > .open > a:focus,
.ivy-plugin .navbar-inverse .navbar-nav > .open > a:hover {
  background: none;
  box-shadow: none;
}

.ivy-plugin .dropdown-menu {
  border-top: none;
}

.ivy-plugin section h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #f2f2f2;
}

.ivy-plugin .widget-wrapper:last-of-type > .form-group > .input-group {
  margin-bottom: 0px;
}

.ivy-plugin .form-wrapper {
  margin: 0px;
}

.ivy-plugin .form-wrapper section:first-of-type h4 {
  margin-top: 0px;
  padding-top: 10px;
  border-top: none;
}

.ivy-plugin .form-wrapper.with-subsections section:last-of-type {
  margin-bottom: 15px;
}

.ivy-plugin .argument {
  margin-top: 30px;
}

.ivy-plugin .argument:first-of-type {
  margin-top: 0;
}

.ivy-plugin .argument .form-group {
  margin-bottom: 0;
}

.ivy-plugin .nested {
  margin: 10px 0 10px 20px;
}

.ivy-plugin .description {
  font-style: italic;
  position: relative;
  color: #929292;
  margin-bottom: 10px;
}

.ivy-plugin .nested .description::before {
  content: "↳";
  position: absolute;
  left: -16px;
  top: 2px;
  font-style: normal;
  font-size: 90%;
}

.ivy-plugin .type-label {
  font-style: italic;
}

.ivy-plugin .codeblock.program {
  padding: 5px;
}

.ivy-plugin .value-balance {
  color: #bfbfbf;
  text-align: right;
  width: 300px;
  margin-top: 5px;
  display: block;
}

.ivy-plugin .form-button {
  margin-bottom: 20px;
}

/*React Component Overrides*/

.ivy-plugin .__react_component_tooltip {
  z-index: 9999 !important;
  font-size: 17px !important;
}

.ivy-plugin #root {
  padding-bottom: 50px;
}

/*Ace Editor Overrides*/

.ivy-plugin .ace_editor {
  border-radius: 2px;
}

.ivy-plugin .ace-monokai {
  background-color: #20252d !important;
}

.ivy-plugin .ace-monokai .ace_indent-guide {
  background: none !important;
}

.ivy-plugin .ace_gutter {
  background-color: #000 !important;
  opacity: 0.2;
  color: #fff !important;
  border-radius: 0 0 2px 2px;
}

.ivy-plugin .ace_keyword {
  color: #f92672 !important;
}
.ivy-plugin .ace_type,
.ivy-plugin .ace_storage {
  color: #48bfb2 !important;
  font-style: normal !important;
}

.ivy-plugin .ace_function,
.ivy-plugin .ace_variable,
.ivy-plugin .ace_language {
  color: #bfd472 !important;
}
